:root {
  --pry: #07969E;
  --heading: #2D2D2D;
  --text: #4A5050;
  --tomatoGrotesk: TomatoGrotesk;
  --dmsans: DMSans;
}

/* remove default behaviour */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
}

.reset {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.reset::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}